/* global styles */

//scss variables
$body_color: lightgrey;

//css variables
:root {
  --fontsize_medium: 16px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  width: 100%;
  background-color: $body_color;
  overflow-x: hidden;
}

main {
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
}



/* header styles */

header {
  position: sticky;
  top: 0;
  z-index: 2;

  width: 100%;

  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;

  /*

  shortened alternatives for padding:

  padding: 2.5vw 5vw 2.5vw 5vw;
  = padding: top right bottom left; 
  
  padding: 2.5vw 5vw;
  = padding: top-bottom left-right;

  */



  background-color: white;

  box-shadow: 0 .5vh 1.25vh rgba(0, 0, 0, 0.25);
}

header nav {
  display: flex;
  align-items: center;
}
.menu-link .site-logo {
  width: 10vw;
  border-radius: 2vw;
}

.menu-link:not(:first-child) {
  margin-left: 5vw;
  padding: 0.25em 0.5em;
  
  font-size: clamp(15px, 5vw, 25px);

  color: black;
  background-color: lightgrey;
  border-radius: 2vw;

  transition: background-color 1.3s ease, color 13s ease;
}

.menu-link:not(:first-child):hover,
.menu-link:not(:first-child).active {
  color: white;
  background-color: black;
}


/* home starter styles */

.starter-image-container {
  width: 100vw;
  height: 90vh;
}

.starter-image-container .starter-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.description-container {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

.description-container h1 {
  font-size: clamp(25px, 7.5vw, 50px);
}
.description-container p {
  font-size: clamp(15px, 5vw, 25px);
}



/* home projects overview styles */

.projects-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.projects-container .project-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33.333%;
  padding: clamp(15px, 5vw, 25px);

  
}

.projects-container .project-link .project-title,
.projects-container .project-link .project-thumbnail {
  transition: transform 0.3s ease-out;
}

.projects-container .project-link:hover .project-title {
  transform: translate3d(0,-1.25vh,0); // (x, y, z)
}

.projects-container .project-link:hover .project-thumbnail {
  transform: translate3d(0, -1.25vh, 0) rotate(360deg); 
}


@media all and (max-width: 800px) and (orientation: portrait) {
  .projects-container .project-link {
    width: 100%;
  }
}

.projects-container .project-link .project-thumbnail {
  width: 100%;
  border-radius: 2vw;
}
.projects-container .project-link .project-title {
  font-size: clamp(15px, 5vw, 25px);
  padding: clamp(5px, 1.25vw, 10px);
  text-align: center;
  color: black;
}



/* project subpage content grid styles */

.project-row,
.project-column {
  display: flex;
  padding: 0 clamp(15px, 5vw, 25px);
}

.project-column {
  height: 100%;
  padding: clamp(15px, 5vw, 25px);
}

.width-1_1 {
  width: 100%;
}

.width-1_6 {
  width: 100%/6;
}

.width-1_3 {
  width: 100%/3;
}

.width-1_2 {
  width: 100%/2;
}

.width-2_3 {
  width: 2 * 100% / 3;
}

@media all and (max-width: 1000px) {
  .project-row {
    flex-wrap: wrap;
  }
  //.width-1_1,
  .width-1_6,
  .width-1_3,
  .width-1_2,
  .width-2_3 {
    width: 50%;
  }
}
@media all and (max-width: 800px) and (orientation: portrait) {
  .width-1_1,
  .width-1_6,
  .width-1_3, 
  .width-1_2, 
  .width-2_3 {
    width: 100%;
  }
}

.project-image {
  display: flex;
  width: 100%;
  border-radius: 2vw;
}



